.detail {
  height: fit-content;
  max-width: 1440px;
  margin-left: auto !important;
  margin-right: auto !important;

  img {
    display: block;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    margin: 15px;
  }

  .badge {
    margin: 5px;
  }

  .review {
    margin-left: 5px;
  }

  .hours-reviews {
    justify-content: space-between;

    .review-list {
      .panel.expanded {
        width: auto; /* FIX for strange Panel beavior */
      }

      .review-content {
        span {
          margin-bottom: 15px;
        }
      }
    }
  }
}
