.detail {
  img {
    display: block;
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    border-radius: 5px;
    margin: 15px;
  }

  .badge {
    margin: 5px;
  }

  .review {
    margin-left: 5px;
  }
}
